
<div>
    <a href="https://www.facebook.com/sharer/sharer.php?"
       target="_blank">
        <img src="https://www.rickhoff.com/images/social-media-icons/facebook.png">
    </a>

    <a href="https://plus.google.com/share?"
       target="_blank" title="Share on Google+">
        <img src="https://www.rickhoff.com/images/social-media-icons/google-plus.png">
    </a>

</div>